body {
  text-align: center;
}

textarea {
  width: 80%;
  height: 20em;
  margin: 2em auto;
  resize: vertical;
}

div {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.suggestion {
  color: orange;
}
